 body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color:#5EC1BF;
      font-size: 1rem;
    }

    .navbar {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: white;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px;
      /* z-index: 1000px; */
    }

    .nav-links {
           display: flex;
    }

    .nav-links a {
      color: black;
      padding: 14px 16px;
      text-decoration: none;
    }

    .nav-links a:hover {
      background-color: darkviolet;
    }

    .hamburger {
      display: none;
      font-size: 24px;
      color: darkviolet;
      cursor: pointer;
    }
    

    @media screen and (max-width: 768px) {
      .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: white;
        z-index: 999;

        
      }
      .navbar{
        position: relative;
        display: flex;
        justify-content: center;


      }
       img{
      /* position: absolute; */
      top: 0;
      right: 0;
            
         
      }

      .nav-links.active {
        display: flex;
      }

      .hamburger {
        display: block;
        position: absolute;
        top: 0;
        left: 15px;
      }
    }

 @media screen and (max-width: 480px) {
      body{
           font-size: 0.9rem;
      }
 }

#p2{
  position: absolute;
  top: 30px;  
  right:25px;
  height: 5px;
  font-size: 25px;
  text-align: right;
}
pre{
  width:100%;
}

.kuhusu{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
      min-height: 100vh;
      margin-top: 45px;
      padding: 30px;
}
.batons{
      display: flex;
      justify-content: center;
      align-items: center;
      
}
div p{
      text-align: center;
}
.brief{
       /* position:absolute;
       top:180px; */
       font-size:35px;
       border: 3px solid black;  
       border-radius: 10px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
      }
#link {
       position:absolute;
       top: 1000px;
       right:5px;
      }
#lt   {
       font-size:20px;
       font-family:verdana;
      }
#manifesto{
       position:absolute;
       top:170px;
       font-size:25px;
      }
.topic {
      text-align:center;
      }
.location{
       position:absolute;
       top:140px;
       font-size:20px;
         }

       
.about{
      /* position:absolute;
       top:345px; */
       font-size:35px;
       border: 3px solid black;  
       height: 150px;
       border-radius: 10px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
      }
#mission{
      /* position:absolute;
       top:200px; */
       font-size:35px;
       border: 3px solid black;  
       border-radius: 10px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
      }
      .figure1{
            display :flex;
            justify-content: center;
            align-items:center;
            flex-direction: column;
            height: 100vh;
      }
   .pic{
      /* position:absolute;
      top: 170px;
      left: 260px;
      width: 800px;
      height: 500px; */
      /* border: 3px solid white;
      border-radius: 12px;
      */
      background-color: none;
      } 
figcaption{
       /* position:absolute;
      top: 670px;
      left: 200px;
      font-size: 35px; */
          }
#click1{ 
       /* position: absolute;
      top: 400px;   */
       font-size: 20px;
       left: 150px;  
       border: 3px solid darkviolet;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#click2{ 
       /* position: absolute;
      top: 400px;   */
       font-size: 20px;
       left: 570px;  
       border: 3px solid darkviolet;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#click3{ 
       /* position: absolute;
      top: 400px;   */
       font-size: 20px;
       right: 150px;  
       border: 3px solid darkviolet;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#officials{
      /* position: relative; */
      /* top: 120px;   */
      width: 100%;
      /* min-height: 100%; */
      /* background: red; */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      margin-top: 45px;
      }
.intro{
       color: darkviolet;
}
.pl{
    /* position: absolute;
      top: 100px;   */
       font-size: 20px;
       left: 30%;
       border: 2px solid  white;
       border-radius: 8px;  
       width: 45%;   
       padding: 3px;   
       background-color: darkviolet;  
}
.dpl{
    /* position: absolute;
      top: 250px;   */
      width: 45%;
       font-size: 20px;
       left: 30%;
       border: 2px solid  white;
       border-radius: 8px;   
       padding: 3px;   
       background-color:darkviolet;  
}
.sg{
    /* position: absolute;
      top: 400px;   */
       font-size: 20px;
        left: 30%;
       border: 2px solid  white;
       border-radius: 8px;  
       width: 45%;   
       padding: 3px;   
       background-color: darkviolet;  
}
.dsg{
    /* position: absolute;
      top: 550px;   */
       font-size: 20px;
       left: 30%;
       border: 2px solid  white;
       border-radius: 8px;  
       width: 45%;   
       padding: 3px;   
       background-color: darkviolet;  
}
.tr{
    /* position: absolute;
      top: 720px;   */
       font-size: 20px;
        left: 30%;
       border: 2px solid  white;
       border-radius: 8px;  
       width: 45%;   
       padding: 3px;   
       background-color: darkviolet;    
      
}
.dtr{
    /* position: absolute;
      top: 870px;   */
       font-size: 20px;
       left: 30%;
       border: 2px solid  white;
       border-radius: 8px;  
       width: 45%;   
       padding: 3px;   
       background-color: darkviolet;  
}
.spokesp{
    /* position: absolute;
      top: 1020px;   */
       font-size: 20px;
        left: 30%;
       border: 2px solid  white;
       border-radius: 8px;  
       width: 45%;   
       padding: 3px;   
       background-color:darkviolet;  
      
}
.orgsec{
    /* position: absolute;
      top: 1170px;   */
       font-size: 20px;
       left: 30%;
       border: 2px solid  white;
       border-radius: 8px;  
       width: 45%;   
       padding: 3px;   
       background-color:darkviolet;  
}
.yl{
    /* position: absolute;
      top: 1320px;   */
      font-size: 20px;
      left: 30%;
      border: 2px solid white;
       border-radius: 8px;  
       width: 45%;   
       padding: 3px;   
       background-color: darkviolet;  
}
.pal{
      /* position: absolute;
      top: 100px;   */
      width: 60;
      height: 119px;
      left: 730px;

}
.dpal{
      /* position: absolute;
      top: 373px;   */
      width: 60;
      height:119px;
      left: 730px;

}
.sgg{
      /* position: absolute;
      top: 523px;    */
      width: 60;
      height: 119px;
      left: 730px;
}
.dsgg{
      /* position: absolute;
      top: 674px;   */
      width: 60;
      height: 119px;
      left: 730px;

}
.tre{
      /* position: absolute;
     top: 842px;  */
      width: 60;
      height: 119px;
      left: 730px;

}
.dtre{
      /* position: absolute;
      top: 992px;   */
      width: 60;
      height: 119px;
      left: 730px;

}
.spokespe{
      /* position: absolute;
      top: 1142px;   */
      width: 60;
      height: 119px;
      left: 730px;

}
.orgsecr{
      /* position: absolute;
      top: 1292px;   */
      width: 60;
      height: 119px;
      left: 730px;

}
.yol{
      /* position: absolute;
      top: 1442px;   */
      width: 60;
      height: 120px;
      left: 730px;
}
#join{
    position: absolute;
      top: 180px;  
       font-size: 20px;
       left: 55px;  
       border: 3px solid darkviolet;  
       border-radius: 8px;
       padding: 3px;
       background-color: white;
}
.testimonials{
    position: absolute;
      top: 300px;  
      width: 100%;
       font-size: 20px;
       left: 55px;    
}
.sk{
      position: absolute;
      top: 328px;  
       font-size: 20px;
       left: 55px;  
       border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
.jo{
      position: absolute;
      top: 500px;  
       font-size: 20px;
       left: 55px;  
       border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
.lT{
      position: absolute;
      top: 415px;  
       font-size: 20px;
       left: 55px;  
       border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
.dm{
      position: absolute;
      top: 580px;  
       font-size: 20px;
       left: 55px;  
       border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
#member{
      position: absolute;
      top: 550px;  
       font-size: 20px;
       left: 940px;  
       border: 3px solid darkviolet;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:black;
}
#comeall{
    position: absolute;
      top: 180px;  
       left: 850px;  
       width: 300px;
       height: 350px;
       border: 2px solid black;
       border-radius: 8px;
        }
.partyoffices{
    position: absolute;
      top: 180px;   
       left: 650px;  
       width: 350px;
       height: 400px;
       border: 2px solid black;
       border-radius: 8px;
             }
/* .location-container{
      
      padding: 30px;
      justify-content: center;
      align-items: center;
      position: relative;
}*/

             .location{
                  display: flex;
                  flex-direction: column;
                  flex-wrap: wrap;
                  justify-content: center;
                  align-items: center;
                  gap: 10px;
                  
             } 
.Nairobi {
       border: 2px solid white;
       border-radius: 8px;  
       width: 400px;   
       padding: 3px;   
       background-color: darkviolet;   
          }
.kilifi{
       border: 2px solid white;
       border-radius: 8px;  
       width: 400px;   
       padding: 3px;   
       background-color: darkviolet;   
             }
.Machakos {
       border: 2px solid white;
       border-radius: 8px;  
       width: 400px;   
       padding: 3px;   
       background-color: darkviolet;   
             }
.Kisumu {
       border: 2px solid white;
       border-radius: 8px;  
       width: 400px;   
       padding: 3px;   
       background-color: darkviolet;   
             }
#cap{
      top: 595px;  
       left: 920px;  
      font-size: 30px;
      color: white;
    }
.form{
      position:absolute;
      top: 200px;
      width: 60%;
      left:20%;
      font-size: 28px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
      background-color: darkviolet;

}
.submit{
       font-size: 20px;
       left: 47%;  
       border: 3px solid darkviolet;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:black;
}
.education{
      border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
.youth{
      border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
.governance{
      border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
.Climate{
      border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
.economy{
      border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
.health{
      border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
.tech{
      border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
.unity{
      border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
 #color{
      position: relative;
      top: 136px;
      height: 200px;
      background-color: darkviolet; 
 } 
.head{
      /* position: absolute;
      top: 190px; */
      /* left: 550px; */
        width: 100%;
      font-size: 40px;

}
#headd{
      /* position: absolute;
      top: 255px; */
      left: 15%;
      width: 100%;
      font-size: 40px;   
}
.maps{
      /* position: absolute;
      top: 423px;   */
      left: 850px;
      width: 70px;
      height: 70px;
}
.call{
      /* position: absolute;
      top: 623px;   */
      left: 850px;
      width: 70px;
      height: 70px;
}
.email{
      /* position: absolute;
      top: 823px;   */
      left: 850px;
      width: 70px;
      height: 70px;
}
.view{
      position: absolute;
      top: 423px;  
      left: 90px;
      width: 400px;
      text-align: center;
       font-size: 22px;
       background-color: darkviolet;
}

.common2{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}
.common{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3px;
      background-color: darkviolet;
}
#add{
       position: absolute;
      top: 530px;  
      left: 630px;
      font-size: 22px;
}
#mail{
      position: absolute;
      top: 630px;   
      left: 630px;
      font-size: 22px;
}
#phone{
       position: absolute;
      top: 740px;   
      left: 630px;
      font-size: 22px;
}
.opinion{
       font-size: 20px;
       left: 47%;  
       border: 3px solid darkviolet;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:black;
}
.container{
      max-width: 100%;
      box-sizing: border-box;
      padding: 20px;
}




       @media(max-width:768px){

            .kuhusu{
                  display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px;
      min-height: 100vh;
      margin-top: 45px;
      padding: 30px;
            }
             .about{
                       position:static;
       top:auto;
       font-size:16px;
       border: 2px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
            }
            .brief{
                       position:static;
       top:auto;
       font-size:16px;
       border: 2px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet; 
            }
               
             #mission{
                 position:static;
       top:auto;
       font-size:16px;
       border: 2px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
            }

            #click1{ 
       position: static;
      top: auto;  
       font-size: 20px;
       left: 150px;  
       border: 3px solid darkviolet;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#click2{ 
       position: static;
      top: auto;  
       font-size: 20px;
       left: 570px;  
       border: 3px solid darkviolet;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#click3{ 
       position:static;
      top:10px;  
       font-size: 20px;
       right: 150px;  
       border: 3px solid darkviolet;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.partyoffices{
    position: absolute;
      top:-420px;   
       left: 40px;  
       width: 350px;
       height: 400px;
       border: 2px solid black;
       border-radius: 8px;
             }

             .location{
                  display: flex;
                  flex-direction: column;
                  flex-wrap: wrap;
                  justify-content: center;
                  align-items: center;
                  gap: 10px;
                  position: absolute;
                  top: 500px;
             }
 

  #join {
    font-size: 14px;
    padding: 10px;
  }

  .testimonials {
    font-size: 16px;
    margin-top: 15px;
  }

  .sk, .jo, .lT, .dm {
    font-size: 13px;
    line-height: 1.4;
  }

  #member {
    width: 100px;
    padding: 12px;
    font-size: 16px;
    margin-top: 15px;
    position: absolute;
      left:150px;
    top: 1050px;


  }

  #comeall {
      position: absolute;
      left:130px;
    width: 259;
    height: auto;
    margin-top: 15px;
    top: 650px;
  }

  .common1{
     
}
.common1{
      position: absolute;
      top: 400px;
      left: -550px;
}
#color{
      text-align: center;
      padding: 10px;
      margin: 10px;
}
.head{
      font-size: 27px;
}
#headd{
      font-size: 26px;
}
.view{
       position: absolute;
      left: 47px;
}
            
         } 

