a{
    text-decoration: none;
    color: black;
   padding: 10px;
}
li{
    float: left;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    border: 2px solid  white;
    
}
li:hover{
    background-color:darkviolet;
}
hr{
    background-color: darkviolet;
    width: 100%;
    height: 15px;
    position: absolute;
     left: 0px;
     top: 0px;
  } 
.logo{
 position: absolute;
 top: 25px;
 left: 650px;
height: 80px;
width: 80px;
}
body{
    background-color: #5EC1BF;
    margin:0px;
    padding: 20px;
}
p{
  position: absolute;
  top: 30px; 
  left: 25px; 
  height: 5px;
  font-size: 25px;
}
#p2{
  position: absolute;
  top: 30px;  
  right:25px;
  height: 5px;
  font-size: 25px;
  text-align: right;
}
pre{
  width:100%;
}
.brief{
       position:absolute;
       top:180px;
       font-size:35px;
       border: 3px solid black;  
       border-radius: 10px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
      }
#link {
       position:absolute;
       top: 1000px;
       right:5px;
      }
#lt   {
       font-size:20px;
       font-family:verdana;
      }
#manifesto{
       position:absolute;
       top:170px;
       font-size:25px;
      }
.topic {
      text-align:center;
      }
.location{
       position:absolute;
       top:140px;
       font-size:20px;
         }
.about{
      position:absolute;
       top:345px;
       font-size:35px;
       border: 3px solid black;  
       height: 150px;
       border-radius: 10px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
      }
#mission{
      position:absolute;
       top:200px;
       font-size:35px;
       border: 3px solid black;  
       border-radius: 10px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
      }
   .pic{
      position:absolute;
      top: 170px;
      left: 260px;
      width: 800px;
      height: 500px;
      border: 3px solid white;
      border-radius: 12px;
      }
figcaption{
       position:absolute;
      top: 670px;
      left: 200px;
      font-size: 35px;
          }
#click1{ 
       position: absolute;
      top: 400px;  
       font-size: 20px;
       left: 150px;  
       border: 3px solid darkviolet;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#click2{ 
       position: absolute;
      top: 400px;  
       font-size: 20px;
       left: 570px;  
       border: 3px solid darkviolet;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#click3{ 
       position: absolute;
      top: 400px;  
       font-size: 20px;
       right: 150px;  
       border: 3px solid darkviolet;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#officials{
      position: absolute;
      top: 120px;  
      width: 100%;
      }
.intro{
       color: darkviolet;
      }
.pl{
    position: absolute;
      top: 100px;  
       font-size: 20px;
       left: 30%;
       border: 2px solid  white;
       border-radius: 8px;  
       width: 40%;   
       padding: 3px;   
       background-color: darkviolet;  
}
.dpl{
    position: absolute;
      top: 250px;  
      width: 40%;
       font-size: 20px;
       left: 30%;
       border: 2px solid  white;
       border-radius: 8px;   
       padding: 3px;   
       background-color:darkviolet;  
}
.sg{
    position: absolute;
      top: 400px;  
       font-size: 20px;
        left: 30%;
       border: 2px solid  white;
       border-radius: 8px;  
       width: 40%;   
       padding: 3px;   
       background-color: darkviolet;  
}
.dsg{
    position: absolute;
      top: 550px;  
       font-size: 20px;
       left: 30%;
       border: 2px solid  white;
       border-radius: 8px;  
       width: 40%;   
       padding: 3px;   
       background-color: darkviolet;  
}
.tr{
    position: absolute;
      top: 720px;  
       font-size: 20px;
        left: 30%;
       border: 2px solid  white;
       border-radius: 8px;  
       width: 40%;   
       padding: 3px;   
       background-color: darkviolet;    
      
}
.dtr{
    position: absolute;
      top: 870px;  
       font-size: 20px;
       left: 30%;
       border: 2px solid  white;
       border-radius: 8px;  
       width: 40%;   
       padding: 3px;   
       background-color: darkviolet;  
}
.spokesp{
    position: absolute;
      top: 1020px;  
       font-size: 20px;
        left: 30%;
       border: 2px solid  white;
       border-radius: 8px;  
       width: 40%;   
       padding: 3px;   
       background-color:darkviolet;  
      
}
.orgsec{
    position: absolute;
      top: 1170px;  
       font-size: 20px;
       left: 30%;
       border: 2px solid  white;
       border-radius: 8px;  
       width: 40%;   
       padding: 3px;   
       background-color:darkviolet;  
}
.yl{
    position: absolute;
      top: 1320px;  
      font-size: 20px;
      left: 30%;
      border: 2px solid white;
       border-radius: 8px;  
       width: 40%;   
       padding: 3px;   
       background-color: darkviolet;  
}
.pal{
      position: absolute;
      top: 223px;  
      width: 60;
      height: 119px;
      left: 730px;

}
.dpal{
      position: absolute;
      top: 373px;  
      width: 60;
      height:119px;
      left: 730px;

}
.sgg{
      position: absolute;
      top: 523px;   
      width: 60;
      height: 119px;
      left: 730px;
}
.dsgg{
      position: absolute;
      top: 674px;  
      width: 60;
      height: 119px;
      left: 730px;

}
.tre{
      position: absolute;
     top: 842px; 
      width: 60;
      height: 119px;
      left: 730px;

}
.dtre{
      position: absolute;
      top: 992px;  
      width: 60;
      height: 119px;
      left: 730px;

}
.spokespe{
      position: absolute;
      top: 1142px;  
      width: 60;
      height: 119px;
      left: 730px;

}
.orgsecr{
      position: absolute;
      top: 1292px;  
      width: 60;
      height: 119px;
      left: 730px;

}
.yol{
      position: absolute;
      top: 1442px;  
      width: 60;
      height: 120px;
      left: 730px;
}
#join{
    position: absolute;
      top: 180px;  
       font-size: 20px;
       left: 55px;  
       border: 3px solid darkviolet;  
       border-radius: 8px;
       padding: 3px;
       background-color: white;
}
.testimonials{
    position: absolute;
      top: 300px;  
      width: 100%;
       font-size: 20px;
       left: 55px;    
}
.sk{
      position: absolute;
      top: 328px;  
       font-size: 20px;
       left: 55px;  
       border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
.jo{
      position: absolute;
      top: 500px;  
       font-size: 20px;
       left: 55px;  
       border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
.lT{
      position: absolute;
      top: 415px;  
       font-size: 20px;
       left: 55px;  
       border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
.dm{
      position: absolute;
      top: 580px;  
       font-size: 20px;
       left: 55px;  
       border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
#member{
      position: absolute;
      top: 550px;  
       font-size: 20px;
       left: 940px;  
       border: 3px solid darkviolet;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:black;
}
#comeall{
    position: absolute;
      top: 180px;  
       left: 850px;  
       width: 300px;
       height: 350px;
       border: 2px solid black;
       border-radius: 8px;
        }
.partyoffices{
    position: absolute;
      top: 180px;  
       left: 850px;  
       width: 350px;
       height: 400px;
       border: 2px solid black;
       border-radius: 8px;
             }
.Nairobi {
       border: 2px solid white;
       border-radius: 8px;  
       width: 48%;   
       padding: 3px;   
       background-color: darkviolet;   
          }
.kilifi{
       border: 2px solid white;
       border-radius: 8px;  
       width: 48%;   
       padding: 3px;   
       background-color: darkviolet;   
             }
.Machakos {
       border: 2px solid white;
       border-radius: 8px;  
       width: 48%;   
       padding: 3px;   
       background-color: darkviolet;   
             }
.Kisumu {
       border: 2px solid white;
       border-radius: 8px;  
       width: 48%;   
       padding: 3px;   
       background-color: darkviolet;   
             }
#cap{
      top: 595px;  
       left: 920px;  
      font-size: 30px;
      color: white;
    }
.form{
      position:absolute;
      top: 200px;
      width: 60%;
      left:20%;
      font-size: 28px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
      background-color: darkviolet;

}
.submit{
       font-size: 20px;
       left: 47%;  
       border: 3px solid darkviolet;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:black;
}
.education{
      border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
.youth{
      border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
.governance{
      border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
.Climate{
      border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
.economy{
      border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
.health{
      border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
.tech{
      border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
.unity{
      border: 3px solid black;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:darkviolet;
}
#color{
      position: relative;
      top: 136px;
      height: 200px;
      background-color: darkviolet;
}
.head{
      position: absolute;
      top: 190px;
      left: 550px;
        width: 100%;
      font-size: 40px;

}
#headd{
      position: absolute;
      top: 255px;
      left: 15%;
      width: 100%;
      font-size: 40px;   
}
.maps{
      position: absolute;
      top: 423px;  
      left: 850px;
      width: 70px;
      height: 70px;
}
.call{
      position: absolute;
      top: 623px;  
      left: 850px;
      width: 70px;
      height: 70px;
}
.email{
      position: absolute;
      top: 823px;  
      left: 850px;
      width: 70px;
      height: 70px;
}
.view{
      position: absolute;
      top: 423px;  
      left: 90px;
      width: 35%;
      text-align: center;
       font-size: 22px;
       background-color: darkviolet;
}
#add{
      position: absolute;
      top: 440px;  
      left: 930px;
      font-size: 22px;
}
#mail{
      position: absolute;
      top: 840px;  
      left: 930px;
      font-size: 22px;
}
#phone{
      position: absolute;
      top: 640px;  
      left: 930px;
      font-size: 22px;
}
.opinion{
       font-size: 20px;
       left: 47%;  
       border: 3px solid darkviolet;  
       border-radius: 8px;
       padding: 3px;
       color: white;
       background-color:black;
}
.container{
      max-width: 100%;
      box-sizing: border-box;
      padding: 20px;
}


      

